@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700&display=swap');

body{
  background-color: #4D5057;
  font-family: 'Catamaran', sans-serif;
}

#twitchLogo {
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 3em;
  color: #ffffff;
  font-weight: 700;
}

.input {
  width: 400px;
  margin: 0 auto;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.4em;
  margin-top: 50px;
}

.input input{
    width: 400px;
    height: 80px;
    font-family: 'Catamaran', sans-serif;
    font-size: 1.8em;
    background-color: transparent;
    border: none;
    border-top: 3px solid #9146FF;
    border-bottom: 3px solid #9146FF;
    outline: none;
    color: #9146FF;
    padding-left: 10px;
}

.input input:focus + label{
      top: -130px;
      font-size: 1.2em;
      transition: all .3s;

}

.input label{
    display: block;
    position: relative;
    left: 10px;
    top: -70px;
    font-size: 1.8em;
    cursor: text;
    color: #ffffff;
    transition: all .3s;
}
